/mongodb/mongodb-win32-x86_64-windows-5.0.6/data/
/mongodb/mongodb-win32-x86_64-windows-5.0.6/LICENSE-Community.txt
/mongodb/mongodb-win32-x86_64-windows-5.0.6/MPL-2
/mongodb/mongodb-win32-x86_64-windows-5.0.6/README
/mongodb/mongodb-win32-x86_64-windows-5.0.6/THIRD-PARTY-NOTICES
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/Install-Compass.ps1
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/mongo.exe
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/mongo.pdb
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/mongod.exe
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/mongod.pdb
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/mongos.exe
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/mongos.pdb
/mongodb/mongodb-win32-x86_64-windows-5.0.6/bin/vcredist_x64.exe
